.inline-element {
  display: inline;
}

.TargetLoadDetails .textbox1 {
  max-width: 375px;
}

.TargetLoadDetails .textbox2 {
  width: 200px;
}
.TargetLoadDetails .textbox3 {
  max-width: 320px;
}
/* .TargetLoadDetails .textbox {
  margin-left: 400px;
  width: 100px;
  display: inline;
} */

.TargetLoadDetails .textbox-outer {
  margin-left: 175px;
}

.TargetLoadDetails .toggle-button {
  height: auto;
  margin-left: 55px;
}
.dqt {
  margin-left: 74px;
}
